<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ACLAV - Asociación de Clubes Liga Argentina de Voleibol</title>
<!--// Responsive //-->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--// Stylesheets //-->
<link href="css/style.css" rel="stylesheet" media="screen" />
<link href="css/bootstrap.css" rel="stylesheet" media="screen" />
<link href="images/favicon.ico" rel="icon" type="image/x-icon" />
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Wrapper Start -->
<div class="wrapper">
	<!-- Header Start -->
	<!-- Header End -->
    <!-- Contents Start -->
<div class="contents">
    	<div class="custom-container">
            <div class="row">
                <!-- Bread Crumb Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Gallery - Single Sidebar</li>
                    </ol>
                </div>
                <!-- Bread Crumb End -->
                <!-- Content Column Start -->
            	<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
                    <!-- Contents Section Started -->
                    <div class="sections">
                        <h2 class="heading">Gallery - 4 Columns</h2>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img10.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Augue phasell penatibus</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img2-big.jpg" class="lightbox-gallery">
                                        <img src="images/img11.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Sit rhoncus ut odio</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img12.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Nascetur mus a placerat</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img13.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Turpis diam ridiculus</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img14.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Mid scelerisque integer</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img15.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Montes, odio ut, facilisis </a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img1-big.jpg" class="lightbox-gallery">
                                        <img src="images/img16.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Augue phasell penatibus</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <figure class="gallery">
                                    <a href="images/img2-big.jpg" class="lightbox-gallery">
                                        <img src="images/img17.jpg" alt="" class="img-responsive hovereffect">
                                    </a>
                                    <figcaption class="backcolor">
                                        <h4><a href="#">Sit rhoncus ut odio</a></h4>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!-- Contents Section End -->
                    <div class="clearfix"></div>
                    <!-- Contents Section Started -->
                    <div class="sections"></div>
                    <!-- Contents Section End -->
                    <div class="clearfix"></div>
                    <!-- Contents Section Started -->
                    <!-- Contents Section End -->
                <div class="clearfix"></div>
                    <!-- Pagination Start -->
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="active"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <!-- Pagination End -->
                </div>
                <!-- Content Column End -->
                <!-- Gray Sidebar Start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 equalcol graysidebar">
                    <!-- Interactive Tabs Widget start -->
                    <div class="widget">
                        <div class="interactivetabs"> 
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="intertabs">
                                <li class="active"></li>
                              <li></li>
                                <li></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Twitter Tab Start -->
                                <!-- Twitter Tab End -->
                                <!-- Blog Tab Start -->
                              <div class="tab-pane fade" id="blogtab">
                                    <ul class="recentposts">
                                        <li>
                                            <h5><a href="blogdetail-double-sidebar.html">Dolor. Proin. Sit rhoncus ut odio nascetur</a></h5>
                                            <p class="date">25 April 2013</p>
                                        </li>
                                        <li>
                                            <h5><a href="blogdetail-double-sidebar.html"> Urna nec, cursus, dictumst! Etiam</a></h5>
                                            <p class="date">01 May 2013</p>
                                        </li>
                                        <li>
                                            <h5><a href="blogdetail-double-sidebar.html">Lundium turpis platea? In vel auctor tincidunt</a></h5>
                                            <p class="date">25 April 2013</p>
                                        </li>
                                        <li>
                                            <h5><a href="blogdetail-double-sidebar.html">Pulvinar, elementum ac, lectus parturient.</a></h5>
                                            <p class="date">01 May 2013</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Blog Tab End -->
                                <!-- Video List Tab Start -->
                                <div class="tab-pane fade" id="abouttab">
                                    <div class="videolistsmall">
                                        <ul class="bloglist">
                                            <li>
                                                <div class="media">
                                                	<a href="video-detail-double-sidebar.html" class="pull-left">
                                                    	<img class="media-object img-responsive hovereffect" src="images/img16.jpg" alt="" />
                                                    </a>
                                                    <div class="media-body">
                                                        <h5><a href="video-detail-double-sidebar.html">Dann Petty on Curabitur</a></h5>
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                	<a href="video-detail-double-sidebar.html" class="pull-left">
                                                    	<img class="media-object img-responsive hovereffect" src="images/img17.jpg" alt="" />
                                                    </a>
                                                    <div class="media-body">
                                                        <h5><a href="video-detail-double-sidebar.html">Falling Down Focus</a></h5>
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                	<a href="video-detail-double-sidebar.html" class="pull-left">
                                                    	<img class="media-object img-responsive hovereffect" src="images/img18.jpg" alt="" />
                                                    </a>
                                                    <div class="media-body">
                                                        <h5><a href="video-detail-double-sidebar.html">Waters Fourth Winged</a></h5>
                                                        <ul>
                                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Video List Tab End -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Interactive Tabs Widget End -->
                    <!-- Comments Widget start -->
                    <div class="widget">
                        <h2 class="heading">Comments</h2>
                        <div class="commentslist">
                            <ul>
                                <li><a href="blogdetail-double-sidebar.html">Dolor. Proin. Sit rhoncus ut odio nascetur mus a placerat</a></li>
                                <li>
                                    <a href="blogdetail-double-sidebar.html">
                                        Etiam, aliquet a tempor arcu, nisi. Lundium turpis platea? In vel auctor tincidunt, eros dignissim vel, porttitor hac eros! Augue pid? Tortor urna et natoque, sociis.
                                    </a>
                                </li>
                                <li>
                                    <a href="blogdetail-double-sidebar.html">
                                        Turpis cum, in elementum elit. Placerat, porta sagittis. Pulvinar, elementum ac, lectus parturient.
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Comments Widget End -->
                    <!-- Small Video Posts Widget start -->
                    <div class="clearfix"></div>
                    <!-- Small Video Posts Widget End -->
                    <!-- Flickr Widget start -->
                <div class="clearfix"></div>
                    <!-- Flickr Widget End -->
                </div>
                <!-- Gray Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Contents End -->
    <!-- Footer Start -->
    
    <!-- Footer End --></div>
<!-- Wrapper End -->
<!--// Javascript //-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/responsiveCarousel.js"></script>
<script type="text/javascript" src="js/slimbox2.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50738310-1', 'softcircles.net');
  ga('send', 'pageview');

</script>
</body>
</html>