<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Extra large buttons BS 3 - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}    </style>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <br>
	<div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
        </div>
	</div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-default btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-default btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-default btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-default btn-lg btn-block btn-huge">Test button</a>
        </div>
	</div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Test button</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-info btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-info btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-info btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-info btn-lg btn-block btn-huge">Test button</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-warning btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-warning btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-warning btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-warning btn-lg btn-block btn-huge">Test button</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-danger btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-danger btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-danger btn-lg btn-block btn-huge">Test button</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-danger btn-lg btn-block btn-huge">Test button</a>
        </div>
    </div>
    <br>
</div><script type="text/javascript">
</script>
</body>
</html>
